.pagingThumbnail {
  width: 40px;
  border: 1px solid #656565;
  padding: 2px;
}
.slick-dots .slick-thumb {
  
}
.slick-prev:before {
  color: #656565;
}

.slick-next:before {
  color: #656565;
}

.slick-slide .slick-active .slick-current
{
  
}

.slick-next {
  right: 25px;
}

.slick-arrow .slick-prev {
  left: 25px;
}

.slick-dots .slick-thumb .img {
  width: 20px;
  border: 1px solid #aa9f9f;
  padding: 1px;
}

.slick-slide img {
  width: 320px;
}